@import 'styles/styles.scss';

$item-size: ($gap * 1.5);
$item-gap: ($gap);

.join--passcode {
  position: relative;

  & > h2 {
    color: $light;
    position: absolute;
    right: 0;
    margin-top: -10px;
  }
}

.players--item {
  display: flex;
  align-items: center;
  padding-top: ($item-gap);

  & > div {
    border-radius: 50%;
    margin-right: $item-gap;
    vertical-align: text-bottom;
    line-height: 1;
    font-size: 4rem;
    position: relative;

    animation: avatar-dancing linear 1s;
    animation-iteration-count: infinite;
    transform-origin: 50% 50%;
  }

  & > h2 {
    color: $purple-invert;
    font-size: 2rem;
    line-height: 1;
  }
}
